<%-include("header")-%>

    <h3>Please Upload the image you want to perform the search on</h3>
    <form class="strangerform" action="/employee" method="post" enctype="multipart/form-data">
        <input type="file" name="stranger">
        <button type="submit">Submit</button>
    </form>
</body>
</html>