<%-include("header")-%>

    <h3>Choose to detect</h3>
    <form action="/action" method="post">
        <button class="actionbtn" type="submit" name="btn" value="age">Age</button>
        <button class="actionbtn" type="submit" name="btn" value="mood">Mood</button>
        <button class="actionbtn" type="submit" name="btn" value="formal">Informal Dress</button>
        <button class="actionbtn" type="submit" name="btn" value="sleepy">Sleepy</button>
        <button class="actionbtn" type="submit" name="btn" value="stranger">Stranger</button>
    </form>
</body>
</html>