<%-include("header")-%>
    
    <h3>Detected RGB Values</h3>
    
    <p style="border: 2px solid red;" class="rgbvalues">R_Avg: <%=msg.r_avg%></p>
    <p style="border: 2px solid green;" class="rgbvalues">G_Avg: <%=msg.g_avg%></p>
    <p style="border: 2px solid blue;" class="rgbvalues">B_Avg: <%=msg.b_avg%></p>
</body>
</html>