<%-include("header")-%>

    <h3>Choose to detect</h3>
    <form action="/videoaction" method="post">
        <button class="actionbtn" type="submit" name="btn" value="celebrity">Celebrity Recognition</button>
        <button class="actionbtn" type="submit" name="btn" value="face">Face Detection</button>
        <button class="actionbtn" type="submit" name="btn" value="track">Tracking</button>
        <button class="actionbtn" type="submit" name="btn" value="text">Text Detection</button>
        <button class="actionbtn" type="submit" name="btn" value="segment">Segment Detection</button>
        <button class="actionbtn" type="submit" name="btn" value="label">Label Detection</button>
        <button class="actionbtn" type="submit" name="btn" value="faceSearch">Face Search</button>
    </form>
</body>
</html>